<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Not Found</title>
	<link rel="stylesheet" href="/app.css">
</head>
<body>
	<h1><%=subreddit%> is not available. Try again later!</h1>
</body>
</html>