<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>EJS Intro</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js "></script>
</head>
<body>
	<%- include('partials/navbar') %>

	<h1>EJS Intro <%=1+2%></h1>
	<h3>Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Debitis excepturi, perspiciatis aliquam similique ex, unde laudantium quas ipsam, delectus possimus suscipit veritatis, totam. Veritatis labore soluta blanditiis officia dolores recusandae eos totam nostrum, quo veniam, harum error excepturi cumque placeat quod odit esse, repellendus distinctio. Possimus architecto molestias, distinctio. Doloribus!</h3>
	
</body>
</html>