<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>All Comments</title>
</head>
<body>
	<h1>All Comments</h1>
	<ul>
		<% for(let c of comments) { %>
		<li>
			<%= c.comment %> -<b><%= c.username %>, <%= c.id %></b>
			<a href="/comments/<%= c.id %>">Details</a>
		</li>
		<% } %>
	</ul>
	<a href="/comments/new">Make New Comment</a>
</body>
</html>