<% layout('layouts/boilerplate') %>		<!-- path relative to the views folder by ejs default -->

<div class="row">
	<div class="col-10 offset-1">
		<div class="alert alert-danger" role="alert">
		  <h4 class="alert-heading"><%= err.message %></h4>
		  <!-- <p><%= err.stack.slice(0,5) + err.stack.slice(err.message.length+10) + ': '%></p> -->
		  <!-- <p><%= err.stack.slice(err.message.length) %></p> -->
		  <% if(process.env.NODE_ENV !== 'production') {%>
		  	<p><%= err.stack %></p>
		  <%}%>
		  <hr>
		  <p class="mb-0"></p>
		</div>
	</div>
</div>