<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/home.css">
<div class="container col-6 offset-3">
	<div class="" style="max-width: 540px;">
	  <div class="text-center text-white">
	    <h1 class="display-2"><strong>YelpCamp</strong></h1>
	  </div>
	  <div class="text-center">
	    <p class="text-white">
			Where peace of mind is a commodity<br>
			The moon lays you to sleep<br>
			And the sun shines through to awaken
	    </p>
	    <a href="/campgrounds" class="btn btn-light btn-lg text-dark fw-bold">Campgrounds</a>
	  </div>
	</div>
</div>