<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Add New Product</title>
</head>
<body>
	<h2>Add New Product</h2>
	<form action="/products" method="POST">
		<label for="name">Product Name</label>
		<input type="text" id="name" name="name" placeholder="Product Name" minlength="2" style="max-width:5%">
		<!-- <input type="text" id="name" name="name" placeholder="Product Name" required="true" minlength="2" style="max-width:5%"> -->
		<label for="price">Price ($)</label>
		<input type="text" id="price" name="price" placeholder="USD" minlength="1" size="5">
		<!-- <input type="text" id="price" name="price" placeholder="USD" required="true" minlength="1" size="5"> -->
		<label for="category">Category</label>
		<select name="category" id="category" style="max-width:5%">
			<% for(let category of categories){%>
				<option value="<%=category%>" <%=product.category === category ? 'selected': ''%>> <%=category%></option>
			<%}%>
		</select>
		<button>Submit</button>
	</form>
	<a href="/products">Cancel</a>
</body>
</html>